<!DOCTYPE html>
<html lang="en">
{% load static %}
<!--! this is where the head is-->
{% include 'header/head.html' %}

<body>
    <!--! this is where the navbar is-->
    {% include 'navbar/navigation.html' %}

     <!--! this is where the container is-->
    <div class="container text-center">
        <div class="row">
            <div class="col-sm">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mxbzt7wodAs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                Where does it come from? Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                {% lorem %}
            </div>
            <div class="col-sm">
                {% lorem %}
            </div>
            <div class="col-sm">
                {% lorem %}
            </div>
        </div>
    </div>

    <!--! this is where the footer is-->
    {% include 'footer/footer.html' %}
</body>

</html>