<!DOCTYPE html>
<html lang="en">
{% load static %}
<!--! this is where the head is-->
{% include 'header/head.html' %}

<body>
    <!--! this is where the navbar is-->
    {% include 'navbar/navigation.html' %}

    <!--! this is where the container is-->
    <div class="container text-center">
        <div class="row">
            <div class="col-sm">
                <form method="post">
                    {% csrf_token %} {{ form_key.as_p }}
                    <input type="submit" value="Enter" class="bg-light">
                </form>
            </div>
        </div>
    </div>

    <!--! this is where the footer is-->
    {% include 'footer/footer.html' %}
</body>

</html>